<div class="seprator"></div>

<table class="footer-countainer">
  <tbody>
    <td>
      <tbody class="footer-item">
        <tr style="display: block;">
          <span class="footer-title">
            <b>
              TEAM
            </b>
          </span>
        </tr>
        <tr>
          <a href="http://www.github.com/valakhosravi/" target="_blank">Vala Khosravi</a>
        </tr>
        <tr>
          <a href="http://www.github.com/Mehrshid/" target="_blank">Mehrshid Fadaei-Nejad</a>
        </tr>
      </tbody>
    </td>
    <td>
      <tbody class="footer-item">
        <tr style="display: block;">
          <span class="footer-title">
            <b>
              ABOUT
            </b>
          </span>
        </tr>
        <tr>
          <p style="margin: 0">
            <i>Compilerly</i> is a playground for students those have compiler course. Pseudo C++ grammer included on left side,
            you can see Parse-Table of this grammar and type valid code of this language. It works on LL(1) parser.
          </p>
        </tr>
      </tbody>
    </td>
    <td>
      <tbody class="footer-item">
        <tr style="display: block;">
          <span class="footer-title">
            <b>
              CONNECT
            </b>
          </span>
        </tr>
        <tr>
          <!-- <i class="mi mi-git"></i> -->
          <a href="https://github.com/valakhosravi/compilerly">github</a>
        </tr>
      </tbody>
    </td>
  </tbody>
</table>
<div class="seprator"></div>
<div class="footer-end">Special thanks to
  <b>Dr. Adel hosseiny</b>
  <span style="float: right;">version 0.1</span>
</div>