<div class="seprator"></div>

<table class="footer-countainer">
  <tbody>
    <td>
      <tbody style="display: block">
      <tr style="display: block;">
        <span class="footer-title">
          <b>
            TEAM
          </b>
        </span>
      </tr>
      </tbody>
    </td>
    <td>
      <tbody style="display: block">
      <tr style="display: block;">
        <span class="footer-title">
          <b>
            ABOUT
          </b>
        </span>
      </tr>
      </tbody>
    </td>
    <td>
      <tbody style="display: block">
      <tr style="display: block;">
        <span class="footer-title">
          <b>
            CONNECT
          </b>
        </span>
      </tr>
      </tbody>
    </td>
  </tbody>
</table>