#editor-parent {
    position: relative;
    overflow: hidden;
    clear: both;
    height: 100%;
}

#mi-editor {
    height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#run-btn {
    color: white;
    margin: 8px 25px;
    position: absolute;
    right: 0;
    background: #00bfa5;
}

.mi-icon {
    color: white;
    padding: 0 2rem;
    padding-top: 0px;
    padding-right: 2rem;
    padding-bottom: 0px;
    padding-left: 2rem;
}