<div class="mi_header">
  <label>Editor</label>
  <!-- <a class="waves-effect waves-light btn" id="run-btn" (click)="showParseTable()">
    <a class="mi mi-play-arrow mi-icon"></a>
    Run
  </a> -->
  <!-- <a class="waves-effect waves-teal btn-flat">Run</a> -->
  <!-- <button id="run-btn">Run</button> -->
  <a class="waves-effect waves-teal btn-flat" id="run-btn" (click)="run()">
    RUN
  </a>
</div>
<div #ep id="editor-parent">
  <div ace-editor 
    [(text)]="text"
    [theme]="'xcode'"
    [mode]="'c_cpp'"
    style="height: calc(100% - calc(100vh / 20))">
  </div>
</div>
<!-- [style.height.px]="editorHeight"> -->