<!-- <div id="table-parent" [style.display]="displayStyle" @moveState="state"> -->
<div id="table-parent" class="z-depth-2" [@moveState]="displayStyle" style="z-index: 10 !important">
  <div class="header section z-depth-2 v-section">
    <h2 class="title">
      Parse Table
      <a (click)="hideBlock()">
          <i id="hide-btn" class="mi mi-chevron-left"></i>          
      </a>
    </h2>
  </div>
  <a href=""></a>
</div>
<a id="block" [style.display]="displayStyle" (click)="hideBlock()"></a>