<!-- <table class="z-depth-1" style="border-radius: 15px; margin-bottom: 15px; margin-top: 15px;"> -->
<table>
  <tbody>
    <tr>
      <td>
        <b>{{production.index}}</b>
      </td>
      <td>
        <input [(ngModel)]="production.left" type="text" class="mi-input" style="text-transform:uppercase;width: 40px" />
      </td>
      <td>
        <i class="mi mi-arrow-forward" style="margin-left: 2px !important;"></i>
      </td>
      <td>
        <input [(ngModel)]="production.right" type="text" class="mi-input" />
      </td>
    </tr>
  </tbody>
</table>