<div id="main_layout">
  <div id="menubar" class="section z-depth-2 v-section">
    <app-toolbar></app-toolbar>    
  </div>
  <div id="sidebox" class="section">
    <app-sidebox (parseTableStatus)="showParseTable($event)" (postRHST)="getRHST($event)"></app-sidebox>
    <app-parse-table [display]="parseTableDisplay" [inputGrammar]="productions" (parseTableStatus)="hideParseTable($event)"></app-parse-table>
  </div>
  <div id="mainbox">
    <div id="editor" class="section">
      <app-editor></app-editor>
    </div>
    <div id="console" class="section">
      <app-console></app-console>
    </div>
  </div>
</div>