#side-bottom {
    background: #1de9b6;
    margin-left: -25px;
    position: fixed;
    top: calc(50% + 95px);
    left: 0;
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Safari */
    transform: rotate(-90deg); /* Standard syntax */
    transform-origin:0% 0%;
    -ms-transform-origin:0% 0%;
    -webkit-transform-origin:0% 0%;
    -webkit-animation-name: firstAnim; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
    animation-name: firstAnim;
    animation-duration: 5s;
}

#side-bottom:active {
    background: #64ffda;
}

#side-bottom:hover {
    margin-left: 0px;
}

@-webkit-keyframes firstAnim {
    /* 0% {margin-left: -45px;} */
    /* 0% {margin-left: 0px;} */
    /* 100% {margin-left: -25px;} */
}

/* Standard syntax */
@keyframes firstAnim {
    /* 0% {margin-left: -25px;}
    50% {margin-left: 0px;}
    100% {margin-left: -25px;} */
}