<div class="mi_header">
  <label>Grammar</label>
</div>
<a class="waves-effect waves-light btn" id="side-bottom" (click)="showParseTable()">
  <i class="mi mi-expand-more right"></i>
  <span id="btn-text">Parse Table</span>
</a>
<div style="padding: 4px 10px 4px 10px;overflow-y: scroll;height:calc(100% - calc(100vh / 20));border-right: 1px solid #00bfa5">
  <app-production #cmp *ngFor="let production of productions" [production]="production"></app-production>
  <div style="height: 55px"></div>
  <div class="btn-coutainer">
    <a class="waves-effect waves-light btn" (click)="showParseTable()">
      <span id="btn-text">Show Parse Table</span>
    </a>
  </div>
</div>
