#logo {
    height: 100%;
    margin: 0;
    font-size: 3rem;
    display: inline-block;
    color: #1de9b6;
    vertical-align:middle;
    text-align: center;
    display: inline-flex;
    text-decoration: none;
    margin: 6px 10px;  
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;  
}
