* {
    font-weight: 300;    
}

body{
    margin:0;
    padding:0;
}

.mi_header {
    background: #1de9b6;
    border-bottom: 2px solid #00bfa5;
    padding-left: 12px;
    height: calc(100vh / 20);
}

.mi_header > label {
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: white;
    font-size: 15pt;
}

.mi-input {
    /* padding-left: 8px !important; */
}